apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: alertmanager-discord-webhook
  namespace: monitoring
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: azure-keyvault
    kind: ClusterSecretStore
  target:
    name: alertmanager-discord-webhook
    creationPolicy: Owner
  data:
    - secretKey: url
      remoteRef:
        key: discord-webhook-url
